body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #001aff;
    color: #FFFFFF;
    padding: 20px;
}

header h1 {
    font-size: 30pt;
    text-align: center;
}

main {
    padding: 20px;
}

.INFORMACION-ESPECIAL, .info-contacto {
    margin-bottom: 20px;
}

.INFORMACION-ESPECIAL h2, .info-contacto h2 {
    color: #660080;
}

footer {
    text-align: center;
    background-color: #660080;
    color: #FFFFFF;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.titulo {
    font-family: 'Rock Salt', cursive; 
    font-size: 36px;
    margin: 0;
}

p {
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'Open Sans', sans-serif; 
}
}
.menu {
    font-size: 25pt;
    color: #660080;
    
}
.centrado {
    text-align: center;
}